# Долбоордун Docker аталышы жана иштөөчү порту
PROJECT_NAME=bilimai_learn_lang
PORT=3000

# Тышкы аутентификация жана маалыматтарды текшерүү кызматтарынын даректери
AUTH_SERVICE_URL=https://api.bilimai.kg/auth/google/login?redirect_url=http://localhost:8089/api/auth/success
EXTERNAL_CHECK_USER_URL=https://api.bilimai.kg/api/external/check-user
EXTERNAL_API_KEY=6YTJdQWfkPTuBLm3u42qjuVZ9WF3f3gd3fdgdfg3gdfgsfsdf

# Жеке JWT токендерди түзүү жана текшерүү үчүн купуя ачкыч (Secret)
JWT_SECRET=your_super_secret_jwt_key_here

# Firebase Admin SDK конфигурациялары (Firebase консолунан Service Account json алынат)
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_CLIENT_EMAIL=your_firebase_client_email
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYour\nPrivate\nKey\nHere\n-----END PRIVATE KEY-----\n"

# Firebase Client конфигурациялары (Эгер браузерден түз Firestore колдонсоңуз)
NEXT_PUBLIC_FIREBASE_API_KEY=your_api_key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=your_project_id.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=your_project_id
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=your_project_id.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your_sender_id
NEXT_PUBLIC_FIREBASE_APP_ID=your_app_id
